.container {
  color: white;
  padding: 10em;
  display: flex;
}

.leftBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-right: 5em;
  /* background-color: blueviolet; */
}

.rightBox {
  width: 50%;
  height: 100%;
  background-color: brown;
}

.iconBox {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  border-radius: 10px;
  background: white;
  z-index: 5;
}

.iconBox::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -4;
  filter: blur(20px);
}

.setBox:nth-child(1) .iconBox:nth-child(1)::after {
  background: linear-gradient(
    256deg,
    rgba(183, 246, 255, 1) 0%,
    rgba(253, 202, 255, 1) 100%
  );
}

.setBox:nth-child(1) .iconBox:nth-child(2)::after {
  background: linear-gradient(
    125deg,
    rgba(255, 186, 183, 1) 0%,
    rgba(255, 241, 202, 1) 100%
  );
}
.setBox:nth-child(2) .iconBox:nth-child(1)::after {
  background: linear-gradient(
    90deg,
    rgba(255, 250, 183, 1) 0%,
    rgba(213, 255, 202, 1) 100%
  );
}
.setBox:nth-child(2) .iconBox:nth-child(2)::after {
  background: linear-gradient(
    0deg,
    rgba(183, 255, 233, 1) 0%,
    rgba(255, 202, 204, 1) 100%
  );
}

.setBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5em;
}

.icon {
  color: black;
  font-size: var(--font-header);
}
