.container {
  color: white;
  padding: 10em;
  display: flex;
}

.leftBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-right: 7em;
  /* background-color: blueviolet; */
}

.headerFlexRow {
  width: 65%;
  color: white;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin-bottom: 1em;
}

.textPointColor {
  background: rgb(183, 246, 255);
  background: linear-gradient(
    90deg,
    rgba(183, 246, 255, 1) 0%,
    rgba(67, 5, 255, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

.explanText {
  width: 65%;
}

.gamePointColor {
  background: rgb(255, 141, 141);
  background: linear-gradient(
    90deg,
    rgba(255, 141, 141, 1) 0%,
    rgba(255, 135, 163, 1) 47%,
    rgba(197, 255, 241, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

.semiPointColor {
  background: rgb(183, 255, 233);
  background: linear-gradient(
    90deg,
    rgba(183, 255, 233, 1) 0%,
    rgba(255, 202, 204, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

.rightBox {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  line-height: 1.5em;
}

.iconBox {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  border-radius: 10px;
  background: white;
  z-index: 5;
}

.iconBox::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -4;
  filter: blur(20px);
}

.setBox:nth-child(1) .iconBox:nth-child(1)::after {
  background: linear-gradient(
    256deg,
    rgba(183, 246, 255, 1) 0%,
    rgba(253, 202, 255, 1) 100%
  );
}

.setBox:nth-child(1) .iconBox:nth-child(2)::after {
  background: linear-gradient(
    125deg,
    rgba(255, 186, 183, 1) 0%,
    rgba(255, 241, 202, 1) 100%
  );
}
.setBox:nth-child(2) .iconBox:nth-child(1)::after {
  background: linear-gradient(
    90deg,
    rgba(255, 250, 183, 1) 0%,
    rgba(213, 255, 202, 1) 100%
  );
}
.setBox:nth-child(2) .iconBox:nth-child(2)::after {
  background: linear-gradient(
    0deg,
    rgba(183, 255, 233, 1) 0%,
    rgba(255, 202, 204, 1) 100%
  );
}

.setBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5em;
}

.icon {
  color: black;
  font-size: var(--font-header);
}

@media screen and (max-width: 1440px) {
  .headerFlexRow {
    width: 100%;
  }
  .explanText {
    width: 100%;
  }
}
