.intro {
  width: 100%;
  height: 100vh;
}

.intro_container {
  background: url("../../../public/img/mac.jpeg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.intro_title {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 6em;
}

.intro_btn {
  position: absolute;
  z-index: 2;
  top: 80%;
  left: 45%;
  width: 10%;
  padding: 0.3em;
  font-size: 1.7em;
  border-radius: 0.5em;
  text-align: center;
  color: white;
  font-weight: 800;
  background: rgb(88, 210, 255);
  background: linear-gradient(294deg, rgba(88, 210, 255, 1) 0%, rgba(255, 195, 195, 1) 58%);
  
}

.intro_btn__a {
  transition: all 0.3s ease-in-out;
}

.intro_btn:hover .intro_btn__a {
  color: black;
}

.intro_container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
