.container {
  width: 100%;
  height: 180vh;
  transition: all 0.8s ease-in-out;
}

.flexBox {
  width: 100%;
  height: 70vh;
  padding: 0em 11em 0em 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.flexleft {
  width: 45%;
  overflow: hidden;
}

.flexright {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.imgBox {
  /* position: relative; */
  overflow: hidden;
}

.imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.imgs:hover {
  transform: scale(1.02);
}

.Headertext {
  color: white;
  margin-top: 1em;
}

.worktext {
  color: white;
  margin-top: 1em;
}

.textPointColor {
  background: rgb(141, 255, 241);
  background: linear-gradient(
    330deg,
    rgba(141, 255, 241, 1) 0%,
    rgba(255, 135, 181, 1) 34%,
    rgba(197, 255, 241, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

.flexBoxTwo {
  width: 100%;
  height: 100vh;
  padding: 10em 11em 0em 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.flexleftTwo {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.workBox {
  display: flex;
}

.projectBox {
  margin: 0.5em;
}

.flexrightTwo {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
